.block_left {
    float: left;
    background-color: #fff1ce;
    width: 60%;
    min-height: 500px;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 40px;
}

.block_right {
    background-color: #fff1ce;
    width: 20%;
    min-height: 500px;
    margin-top: 60px;
    margin-right: 60px;
    float: right;
}

#radius {
    color: white;
    /*width: 63%;*/
    max-width: 900px;
    min-height: 500px;
    margin-top: 80px;
    /*margin-left: 80px;*/
    /*margin-right: 80px;*/
    padding: 1em;
    border-radius: 10px;
    background: #545454;
    /*radial-gradient(circle at 50% 0, rgb(0, 0, 0), rgb(0, 0, 0));*/
    box-shadow:
            inset rgb(255, 228, 205) 0 -3px 8px,
            inset rgba(252,255,255,.7) 0 3px 8px,
            rgb(255, 246, 242) 0 3px 8px -3px;
    margin-bottom: -20px;
    /*padding-left: 50px;*/
    /*padding-right: 50px;*/
}

.paginator {
    clear: both;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#poster {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}

#radius p {
    color: white;
}

#radius a {
    color: white;
    text-decoration: underline;
}

#radius p a:hover {
    color: #ff8900;
}

#title {
    color: #ff8900;
    font-size: 26px;
}

#user-icon {
    float: left;
    margin: 10px;

}

#radius textarea {
    width: 100%;
    color: black;
    background-color: #edebe6;
}

#radius label {
    color: rgba(247, 246, 255, 0.47);
    font-size: 12px;
}



/*.movie-page {*/
    /*color: white;*/
    /*text-decoration: dashed;*/
/*}*/

/*.movie-page:hover{*/
    /*color: #ff8900;*/
/*}*/

